* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin:0 auto;
    padding: 10px 20px;
    max-width: 1440px;
}
.wrapper {
    width: 100%;
    background-image: url('../images/TeamPage_1920x1080_Background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.title {
    font-size: calc(25pt + 43 * (100vw / 1440));
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 80px;
}
.face {
    max-width: 1245px;
    border-bottom: 3px solid white;
    margin: 0 auto;
    position: relative;
}
.face-item {
    max-width: calc(1245 / 3);
    margin: 0 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    position: relative;
    max-height: 385px;
}
.face-item img{
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    object-fit: cover;
}
.personal {
    width: 100%;
}
.personal__content {
    padding: 60px 0;
    display: none;
    color: white;
}
.personal__content__descr{
    padding: 5px 0;
    max-width: 450px;
}
.personal__content__descr h2{
    text-transform: uppercase;
    font-size: calc(16pt + 18 * (100vw / 1440));
}
.personal__content__descr h4{
    text-transform: uppercase;
    font-size:  calc(12pt + 4 * (100vw / 1440));
}
.personal__content__auto-descr {
    margin: 5px 0;
    font-size:  calc(12pt + 4 * (100vw / 1440));
    max-width: 900px;
}
.active {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}